
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color:white;">{{$parent.option.username}}</h1>
                        <hr class="small">
                        <span class="subheading">{{$parent.option.motto}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview" ng-repeat="i in range(currentN()) track by $index" >
                    <a href="#/p={{blogs[$index+(current_page-1)*10].$id}}">
                        <h2 class="post-title">
                            {{blogs[$index+(current_page-1)*10].title}}
                        </h2>
                            <a href="#/cat={{blogs[$index+(current_page-1)*10].cat}}">
                        <h3 class="post-subtitle">
                                {{blogs[$index+(current_page-1)*10].cat}}
                        </h3>
                            </a>
                    </a>
                    <p class="post-meta">
                        <span ng-repeat="tag in blogs[$index+(current_page-1)*10].tags.split(' ')">
                            <a href="#/tag={{tag}}">{{tag}}</a>
                        </span>
                    </p>
                    <p class="post-meta">发布于 {{blogs[$index+(current_page-1)*10].date | date:"MM/dd/yyyy @ h:mma"}}</p>
                    <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on {{blog.date}}</p> -->
                    <!-- 此处最好修改一下 -->
                    <hr>
                </div>
                <!-- Pager -->
                <ul class="pager">
                    <li class="previous" ng-if="hasPrev()">
                        <a href="" ng-click="prevPage()">← Previous Posts</a>
                    </li>
                    <li class="next" ng-if="hasNext()">
                        <a href="" ng-click="nextPage()">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>