
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color:white;">{{$parent.option.username}}</h1>
                        <hr class="small">
                        <span class="subheading">{{$parent.option.motto}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <p class="text-center"><h3>ARCHIVES</h3></p>
                    <hr>
                    <p class="post-meta" ng-repeat="blog in blogs | orderBy:'-date'">
                        <a href="#/p={{blog.$id}}">{{blog.title}}</a>
                        发布于 {{blog.date | date:"MM/dd/yyyy @ h:mma"}}
                        <a href="#/edit={{blog.$id}}">edit</a>
                        <a href="" ng-click="deleteBlog(blog)">delete</a>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <hr>